/*values*/
/*prefixes*/
.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

@media screen and (min-width: 480px) {
  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }

  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }
}
@media screen and (min-width: 768px) {
  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }

  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }
}
@media screen and (min-width: 960px) {
  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }
}
@media screen and (min-width: 1280px) {
  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }

  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }
}
.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

@media screen and (min-width: 480px) {
  .m-sm-5 {
    margin: 5px !important;
  }

  .m-sm-10 {
    margin: 10px !important;
  }

  .m-sm-15 {
    margin: 15px !important;
  }

  .m-sm-20 {
    margin: 20px !important;
  }

  .m-sm-30 {
    margin: 30px !important;
  }

  .m-sm-40 {
    margin: 40px !important;
  }

  .m-sm-50 {
    margin: 50px !important;
  }

  .mt-sm-5 {
    margin-top: 5px !important;
  }

  .mt-sm-10 {
    margin-top: 10px !important;
  }

  .mt-sm-15 {
    margin-top: 15px !important;
  }

  .mt-sm-20 {
    margin-top: 20px !important;
  }

  .mt-sm-30 {
    margin-top: 30px !important;
  }

  .mt-sm-40 {
    margin-top: 40px !important;
  }

  .mt-sm-50 {
    margin-top: 50px !important;
  }

  .mr-sm-5 {
    margin-right: 5px !important;
  }

  .mr-sm-10 {
    margin-right: 10px !important;
  }

  .mr-sm-15 {
    margin-right: 15px !important;
  }

  .mr-sm-20 {
    margin-right: 20px !important;
  }

  .mr-sm-30 {
    margin-right: 30px !important;
  }

  .mr-sm-40 {
    margin-right: 40px !important;
  }

  .mr-sm-50 {
    margin-right: 50px !important;
  }

  .mb-sm-5 {
    margin-bottom: 5px !important;
  }

  .mb-sm-10 {
    margin-bottom: 10px !important;
  }

  .mb-sm-15 {
    margin-bottom: 15px !important;
  }

  .mb-sm-20 {
    margin-bottom: 20px !important;
  }

  .mb-sm-30 {
    margin-bottom: 30px !important;
  }

  .mb-sm-40 {
    margin-bottom: 40px !important;
  }

  .mb-sm-50 {
    margin-bottom: 50px !important;
  }

  .ml-sm-5 {
    margin-left: 5px !important;
  }

  .ml-sm-10 {
    margin-left: 10px !important;
  }

  .ml-sm-15 {
    margin-left: 15px !important;
  }

  .ml-sm-20 {
    margin-left: 20px !important;
  }

  .ml-sm-30 {
    margin-left: 30px !important;
  }

  .ml-sm-40 {
    margin-left: 40px !important;
  }

  .ml-sm-50 {
    margin-left: 50px !important;
  }
}
@media screen and (min-width: 768px) {
  .m-md-5 {
    margin: 5px !important;
  }

  .m-md-10 {
    margin: 10px !important;
  }

  .m-md-15 {
    margin: 15px !important;
  }

  .m-md-20 {
    margin: 20px !important;
  }

  .m-md-30 {
    margin: 30px !important;
  }

  .m-md-40 {
    margin: 40px !important;
  }

  .m-md-50 {
    margin: 50px !important;
  }

  .mt-md-5 {
    margin-top: 5px !important;
  }

  .mt-md-10 {
    margin-top: 10px !important;
  }

  .mt-md-15 {
    margin-top: 15px !important;
  }

  .mt-md-20 {
    margin-top: 20px !important;
  }

  .mt-md-30 {
    margin-top: 30px !important;
  }

  .mt-md-40 {
    margin-top: 40px !important;
  }

  .mt-md-50 {
    margin-top: 50px !important;
  }

  .mr-md-5 {
    margin-right: 5px !important;
  }

  .mr-md-10 {
    margin-right: 10px !important;
  }

  .mr-md-15 {
    margin-right: 15px !important;
  }

  .mr-md-20 {
    margin-right: 20px !important;
  }

  .mr-md-30 {
    margin-right: 30px !important;
  }

  .mr-md-40 {
    margin-right: 40px !important;
  }

  .mr-md-50 {
    margin-right: 50px !important;
  }

  .mb-md-5 {
    margin-bottom: 5px !important;
  }

  .mb-md-10 {
    margin-bottom: 10px !important;
  }

  .mb-md-15 {
    margin-bottom: 15px !important;
  }

  .mb-md-20 {
    margin-bottom: 20px !important;
  }

  .mb-md-30 {
    margin-bottom: 30px !important;
  }

  .mb-md-40 {
    margin-bottom: 40px !important;
  }

  .mb-md-50 {
    margin-bottom: 50px !important;
  }

  .ml-md-5 {
    margin-left: 5px !important;
  }

  .ml-md-10 {
    margin-left: 10px !important;
  }

  .ml-md-15 {
    margin-left: 15px !important;
  }

  .ml-md-20 {
    margin-left: 20px !important;
  }

  .ml-md-30 {
    margin-left: 30px !important;
  }

  .ml-md-40 {
    margin-left: 40px !important;
  }

  .ml-md-50 {
    margin-left: 50px !important;
  }
}
@media screen and (min-width: 960px) {
  .m-lg-5 {
    margin: 5px !important;
  }

  .m-lg-10 {
    margin: 10px !important;
  }

  .m-lg-15 {
    margin: 15px !important;
  }

  .m-lg-20 {
    margin: 20px !important;
  }

  .m-lg-30 {
    margin: 30px !important;
  }

  .m-lg-40 {
    margin: 40px !important;
  }

  .m-lg-50 {
    margin: 50px !important;
  }

  .mt-lg-5 {
    margin-top: 5px !important;
  }

  .mt-lg-10 {
    margin-top: 10px !important;
  }

  .mt-lg-15 {
    margin-top: 15px !important;
  }

  .mt-lg-20 {
    margin-top: 20px !important;
  }

  .mt-lg-30 {
    margin-top: 30px !important;
  }

  .mt-lg-40 {
    margin-top: 40px !important;
  }

  .mt-lg-50 {
    margin-top: 50px !important;
  }

  .mr-lg-5 {
    margin-right: 5px !important;
  }

  .mr-lg-10 {
    margin-right: 10px !important;
  }

  .mr-lg-15 {
    margin-right: 15px !important;
  }

  .mr-lg-20 {
    margin-right: 20px !important;
  }

  .mr-lg-30 {
    margin-right: 30px !important;
  }

  .mr-lg-40 {
    margin-right: 40px !important;
  }

  .mr-lg-50 {
    margin-right: 50px !important;
  }

  .mb-lg-5 {
    margin-bottom: 5px !important;
  }

  .mb-lg-10 {
    margin-bottom: 10px !important;
  }

  .mb-lg-15 {
    margin-bottom: 15px !important;
  }

  .mb-lg-20 {
    margin-bottom: 20px !important;
  }

  .mb-lg-30 {
    margin-bottom: 30px !important;
  }

  .mb-lg-40 {
    margin-bottom: 40px !important;
  }

  .mb-lg-50 {
    margin-bottom: 50px !important;
  }

  .ml-lg-5 {
    margin-left: 5px !important;
  }

  .ml-lg-10 {
    margin-left: 10px !important;
  }

  .ml-lg-15 {
    margin-left: 15px !important;
  }

  .ml-lg-20 {
    margin-left: 20px !important;
  }

  .ml-lg-30 {
    margin-left: 30px !important;
  }

  .ml-lg-40 {
    margin-left: 40px !important;
  }

  .ml-lg-50 {
    margin-left: 50px !important;
  }
}
@media screen and (min-width: 1280px) {
  .m-xl-5 {
    margin: 5px !important;
  }

  .m-xl-10 {
    margin: 10px !important;
  }

  .m-xl-15 {
    margin: 15px !important;
  }

  .m-xl-20 {
    margin: 20px !important;
  }

  .m-xl-30 {
    margin: 30px !important;
  }

  .m-xl-40 {
    margin: 40px !important;
  }

  .m-xl-50 {
    margin: 50px !important;
  }

  .mt-xl-5 {
    margin-top: 5px !important;
  }

  .mt-xl-10 {
    margin-top: 10px !important;
  }

  .mt-xl-15 {
    margin-top: 15px !important;
  }

  .mt-xl-20 {
    margin-top: 20px !important;
  }

  .mt-xl-30 {
    margin-top: 30px !important;
  }

  .mt-xl-40 {
    margin-top: 40px !important;
  }

  .mt-xl-50 {
    margin-top: 50px !important;
  }

  .mr-xl-5 {
    margin-right: 5px !important;
  }

  .mr-xl-10 {
    margin-right: 10px !important;
  }

  .mr-xl-15 {
    margin-right: 15px !important;
  }

  .mr-xl-20 {
    margin-right: 20px !important;
  }

  .mr-xl-30 {
    margin-right: 30px !important;
  }

  .mr-xl-40 {
    margin-right: 40px !important;
  }

  .mr-xl-50 {
    margin-right: 50px !important;
  }

  .mb-xl-5 {
    margin-bottom: 5px !important;
  }

  .mb-xl-10 {
    margin-bottom: 10px !important;
  }

  .mb-xl-15 {
    margin-bottom: 15px !important;
  }

  .mb-xl-20 {
    margin-bottom: 20px !important;
  }

  .mb-xl-30 {
    margin-bottom: 30px !important;
  }

  .mb-xl-40 {
    margin-bottom: 40px !important;
  }

  .mb-xl-50 {
    margin-bottom: 50px !important;
  }

  .ml-xl-5 {
    margin-left: 5px !important;
  }

  .ml-xl-10 {
    margin-left: 10px !important;
  }

  .ml-xl-15 {
    margin-left: 15px !important;
  }

  .ml-xl-20 {
    margin-left: 20px !important;
  }

  .ml-xl-30 {
    margin-left: 30px !important;
  }

  .ml-xl-40 {
    margin-left: 40px !important;
  }

  .ml-xl-50 {
    margin-left: 50px !important;
  }
}
.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

@media screen and (min-width: 480px) {
  .p-sm-5 {
    padding: 5px !important;
  }

  .p-sm-10 {
    padding: 10px !important;
  }

  .p-sm-15 {
    padding: 15px !important;
  }

  .p-sm-20 {
    padding: 20px !important;
  }

  .p-sm-30 {
    padding: 30px !important;
  }

  .p-sm-40 {
    padding: 40px !important;
  }

  .p-sm-50 {
    padding: 50px !important;
  }

  .pt-sm-5 {
    padding-top: 5px !important;
  }

  .pt-sm-10 {
    padding-top: 10px !important;
  }

  .pt-sm-15 {
    padding-top: 15px !important;
  }

  .pt-sm-20 {
    padding-top: 20px !important;
  }

  .pt-sm-30 {
    padding-top: 30px !important;
  }

  .pt-sm-40 {
    padding-top: 40px !important;
  }

  .pt-sm-50 {
    padding-top: 50px !important;
  }

  .pr-sm-5 {
    padding-right: 5px !important;
  }

  .pr-sm-10 {
    padding-right: 10px !important;
  }

  .pr-sm-15 {
    padding-right: 15px !important;
  }

  .pr-sm-20 {
    padding-right: 20px !important;
  }

  .pr-sm-30 {
    padding-right: 30px !important;
  }

  .pr-sm-40 {
    padding-right: 40px !important;
  }

  .pr-sm-50 {
    padding-right: 50px !important;
  }

  .pb-sm-5 {
    padding-bottom: 5px !important;
  }

  .pb-sm-10 {
    padding-bottom: 10px !important;
  }

  .pb-sm-15 {
    padding-bottom: 15px !important;
  }

  .pb-sm-20 {
    padding-bottom: 20px !important;
  }

  .pb-sm-30 {
    padding-bottom: 30px !important;
  }

  .pb-sm-40 {
    padding-bottom: 40px !important;
  }

  .pb-sm-50 {
    padding-bottom: 50px !important;
  }

  .pl-sm-5 {
    padding-left: 5px !important;
  }

  .pl-sm-10 {
    padding-left: 10px !important;
  }

  .pl-sm-15 {
    padding-left: 15px !important;
  }

  .pl-sm-20 {
    padding-left: 20px !important;
  }

  .pl-sm-30 {
    padding-left: 30px !important;
  }

  .pl-sm-40 {
    padding-left: 40px !important;
  }

  .pl-sm-50 {
    padding-left: 50px !important;
  }
}
@media screen and (min-width: 768px) {
  .p-md-5 {
    padding: 5px !important;
  }

  .p-md-10 {
    padding: 10px !important;
  }

  .p-md-15 {
    padding: 15px !important;
  }

  .p-md-20 {
    padding: 20px !important;
  }

  .p-md-30 {
    padding: 30px !important;
  }

  .p-md-40 {
    padding: 40px !important;
  }

  .p-md-50 {
    padding: 50px !important;
  }

  .pt-md-5 {
    padding-top: 5px !important;
  }

  .pt-md-10 {
    padding-top: 10px !important;
  }

  .pt-md-15 {
    padding-top: 15px !important;
  }

  .pt-md-20 {
    padding-top: 20px !important;
  }

  .pt-md-30 {
    padding-top: 30px !important;
  }

  .pt-md-40 {
    padding-top: 40px !important;
  }

  .pt-md-50 {
    padding-top: 50px !important;
  }

  .pr-md-5 {
    padding-right: 5px !important;
  }

  .pr-md-10 {
    padding-right: 10px !important;
  }

  .pr-md-15 {
    padding-right: 15px !important;
  }

  .pr-md-20 {
    padding-right: 20px !important;
  }

  .pr-md-30 {
    padding-right: 30px !important;
  }

  .pr-md-40 {
    padding-right: 40px !important;
  }

  .pr-md-50 {
    padding-right: 50px !important;
  }

  .pb-md-5 {
    padding-bottom: 5px !important;
  }

  .pb-md-10 {
    padding-bottom: 10px !important;
  }

  .pb-md-15 {
    padding-bottom: 15px !important;
  }

  .pb-md-20 {
    padding-bottom: 20px !important;
  }

  .pb-md-30 {
    padding-bottom: 30px !important;
  }

  .pb-md-40 {
    padding-bottom: 40px !important;
  }

  .pb-md-50 {
    padding-bottom: 50px !important;
  }

  .pl-md-5 {
    padding-left: 5px !important;
  }

  .pl-md-10 {
    padding-left: 10px !important;
  }

  .pl-md-15 {
    padding-left: 15px !important;
  }

  .pl-md-20 {
    padding-left: 20px !important;
  }

  .pl-md-30 {
    padding-left: 30px !important;
  }

  .pl-md-40 {
    padding-left: 40px !important;
  }

  .pl-md-50 {
    padding-left: 50px !important;
  }
}
@media screen and (min-width: 960px) {
  .p-lg-5 {
    padding: 5px !important;
  }

  .p-lg-10 {
    padding: 10px !important;
  }

  .p-lg-15 {
    padding: 15px !important;
  }

  .p-lg-20 {
    padding: 20px !important;
  }

  .p-lg-30 {
    padding: 30px !important;
  }

  .p-lg-40 {
    padding: 40px !important;
  }

  .p-lg-50 {
    padding: 50px !important;
  }

  .pt-lg-5 {
    padding-top: 5px !important;
  }

  .pt-lg-10 {
    padding-top: 10px !important;
  }

  .pt-lg-15 {
    padding-top: 15px !important;
  }

  .pt-lg-20 {
    padding-top: 20px !important;
  }

  .pt-lg-30 {
    padding-top: 30px !important;
  }

  .pt-lg-40 {
    padding-top: 40px !important;
  }

  .pt-lg-50 {
    padding-top: 50px !important;
  }

  .pr-lg-5 {
    padding-right: 5px !important;
  }

  .pr-lg-10 {
    padding-right: 10px !important;
  }

  .pr-lg-15 {
    padding-right: 15px !important;
  }

  .pr-lg-20 {
    padding-right: 20px !important;
  }

  .pr-lg-30 {
    padding-right: 30px !important;
  }

  .pr-lg-40 {
    padding-right: 40px !important;
  }

  .pr-lg-50 {
    padding-right: 50px !important;
  }

  .pb-lg-5 {
    padding-bottom: 5px !important;
  }

  .pb-lg-10 {
    padding-bottom: 10px !important;
  }

  .pb-lg-15 {
    padding-bottom: 15px !important;
  }

  .pb-lg-20 {
    padding-bottom: 20px !important;
  }

  .pb-lg-30 {
    padding-bottom: 30px !important;
  }

  .pb-lg-40 {
    padding-bottom: 40px !important;
  }

  .pb-lg-50 {
    padding-bottom: 50px !important;
  }

  .pl-lg-5 {
    padding-left: 5px !important;
  }

  .pl-lg-10 {
    padding-left: 10px !important;
  }

  .pl-lg-15 {
    padding-left: 15px !important;
  }

  .pl-lg-20 {
    padding-left: 20px !important;
  }

  .pl-lg-30 {
    padding-left: 30px !important;
  }

  .pl-lg-40 {
    padding-left: 40px !important;
  }

  .pl-lg-50 {
    padding-left: 50px !important;
  }
}
@media screen and (min-width: 1280px) {
  .p-xl-5 {
    padding: 5px !important;
  }

  .p-xl-10 {
    padding: 10px !important;
  }

  .p-xl-15 {
    padding: 15px !important;
  }

  .p-xl-20 {
    padding: 20px !important;
  }

  .p-xl-30 {
    padding: 30px !important;
  }

  .p-xl-40 {
    padding: 40px !important;
  }

  .p-xl-50 {
    padding: 50px !important;
  }

  .pt-xl-5 {
    padding-top: 5px !important;
  }

  .pt-xl-10 {
    padding-top: 10px !important;
  }

  .pt-xl-15 {
    padding-top: 15px !important;
  }

  .pt-xl-20 {
    padding-top: 20px !important;
  }

  .pt-xl-30 {
    padding-top: 30px !important;
  }

  .pt-xl-40 {
    padding-top: 40px !important;
  }

  .pt-xl-50 {
    padding-top: 50px !important;
  }

  .pr-xl-5 {
    padding-right: 5px !important;
  }

  .pr-xl-10 {
    padding-right: 10px !important;
  }

  .pr-xl-15 {
    padding-right: 15px !important;
  }

  .pr-xl-20 {
    padding-right: 20px !important;
  }

  .pr-xl-30 {
    padding-right: 30px !important;
  }

  .pr-xl-40 {
    padding-right: 40px !important;
  }

  .pr-xl-50 {
    padding-right: 50px !important;
  }

  .pb-xl-5 {
    padding-bottom: 5px !important;
  }

  .pb-xl-10 {
    padding-bottom: 10px !important;
  }

  .pb-xl-15 {
    padding-bottom: 15px !important;
  }

  .pb-xl-20 {
    padding-bottom: 20px !important;
  }

  .pb-xl-30 {
    padding-bottom: 30px !important;
  }

  .pb-xl-40 {
    padding-bottom: 40px !important;
  }

  .pb-xl-50 {
    padding-bottom: 50px !important;
  }

  .pl-xl-5 {
    padding-left: 5px !important;
  }

  .pl-xl-10 {
    padding-left: 10px !important;
  }

  .pl-xl-15 {
    padding-left: 15px !important;
  }

  .pl-xl-20 {
    padding-left: 20px !important;
  }

  .pl-xl-30 {
    padding-left: 30px !important;
  }

  .pl-xl-40 {
    padding-left: 40px !important;
  }

  .pl-xl-50 {
    padding-left: 50px !important;
  }
}
.m-auto {
  margin: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

@media screen and (min-width: 480px) {
  .m-sm-auto {
    margin: auto !important;
  }

  .mt-sm-auto {
    margin-top: auto !important;
  }

  .mr-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-auto {
    margin-bottom: auto !important;
  }

  .ml-sm-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto {
    margin-top: auto !important;
  }

  .mr-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto {
    margin-bottom: auto !important;
  }

  .ml-md-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 960px) {
  .m-lg-auto {
    margin: auto !important;
  }

  .mt-lg-auto {
    margin-top: auto !important;
  }

  .mr-lg-auto {
    margin-right: auto !important;
  }

  .mb-lg-auto {
    margin-bottom: auto !important;
  }

  .ml-lg-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 1280px) {
  .m-xl-auto {
    margin: auto !important;
  }

  .mt-xl-auto {
    margin-top: auto !important;
  }

  .mr-xl-auto {
    margin-right: auto !important;
  }

  .mb-xl-auto {
    margin-bottom: auto !important;
  }

  .ml-xl-auto {
    margin-left: auto !important;
  }
}
.justify-flex-start {
  justify-content: flex-start !important;
}

.justify-flex-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

@media screen and (min-width: 480px) {
  .justify-sm-flex-start {
    justify-content: flex-start !important;
  }

  .justify-sm-flex-end {
    justify-content: flex-end !important;
  }

  .justify-sm-center {
    justify-content: center !important;
  }

  .justify-sm-space-between {
    justify-content: space-between !important;
  }

  .justify-sm-space-around {
    justify-content: space-around !important;
  }
}
@media screen and (min-width: 768px) {
  .justify-md-flex-start {
    justify-content: flex-start !important;
  }

  .justify-md-flex-end {
    justify-content: flex-end !important;
  }

  .justify-md-center {
    justify-content: center !important;
  }

  .justify-md-space-between {
    justify-content: space-between !important;
  }

  .justify-md-space-around {
    justify-content: space-around !important;
  }
}
@media screen and (min-width: 960px) {
  .justify-lg-flex-start {
    justify-content: flex-start !important;
  }

  .justify-lg-flex-end {
    justify-content: flex-end !important;
  }

  .justify-lg-center {
    justify-content: center !important;
  }

  .justify-lg-space-between {
    justify-content: space-between !important;
  }

  .justify-lg-space-around {
    justify-content: space-around !important;
  }
}
@media screen and (min-width: 1280px) {
  .justify-xl-flex-start {
    justify-content: flex-start !important;
  }

  .justify-xl-flex-end {
    justify-content: flex-end !important;
  }

  .justify-xl-center {
    justify-content: center !important;
  }

  .justify-xl-space-between {
    justify-content: space-between !important;
  }

  .justify-xl-space-around {
    justify-content: space-around !important;
  }
}
.align-flex-start {
  align-items: flex-start !important;
}

.align-flex-end {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

@media screen and (min-width: 480px) {
  .align-sm-flex-start {
    align-items: flex-start !important;
  }

  .align-sm-flex-end {
    align-items: flex-end !important;
  }

  .align-sm-center {
    align-items: center !important;
  }
}
@media screen and (min-width: 768px) {
  .align-md-flex-start {
    align-items: flex-start !important;
  }

  .align-md-flex-end {
    align-items: flex-end !important;
  }

  .align-md-center {
    align-items: center !important;
  }
}
@media screen and (min-width: 960px) {
  .align-lg-flex-start {
    align-items: flex-start !important;
  }

  .align-lg-flex-end {
    align-items: flex-end !important;
  }

  .align-lg-center {
    align-items: center !important;
  }
}
@media screen and (min-width: 1280px) {
  .align-xl-flex-start {
    align-items: flex-start !important;
  }

  .align-xl-flex-end {
    align-items: flex-end !important;
  }

  .align-xl-center {
    align-items: center !important;
  }
}
.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-34 {
  font-size: 34px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-38 {
  font-size: 38px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-42 {
  font-size: 42px !important;
}

.font-44 {
  font-size: 44px !important;
}

.font-46 {
  font-size: 46px !important;
}

.font-48 {
  font-size: 48px !important;
}

.font-50 {
  font-size: 50px !important;
}

.font-52 {
  font-size: 52px !important;
}

.font-54 {
  font-size: 54px !important;
}

.font-56 {
  font-size: 56px !important;
}

.font-60 {
  font-size: 60px !important;
}

.font-70 {
  font-size: 70px !important;
}

.font-80 {
  font-size: 80px !important;
}

.font-90 {
  font-size: 90px !important;
}

.font-100 {
  font-size: 100px !important;
}

@media screen and (min-width: 480px) {
  .font-sm-12 {
    font-size: 12px !important;
  }

  .font-sm-14 {
    font-size: 14px !important;
  }

  .font-sm-16 {
    font-size: 16px !important;
  }

  .font-sm-18 {
    font-size: 18px !important;
  }

  .font-sm-20 {
    font-size: 20px !important;
  }

  .font-sm-22 {
    font-size: 22px !important;
  }

  .font-sm-24 {
    font-size: 24px !important;
  }

  .font-sm-26 {
    font-size: 26px !important;
  }

  .font-sm-28 {
    font-size: 28px !important;
  }

  .font-sm-30 {
    font-size: 30px !important;
  }

  .font-sm-32 {
    font-size: 32px !important;
  }

  .font-sm-34 {
    font-size: 34px !important;
  }

  .font-sm-36 {
    font-size: 36px !important;
  }

  .font-sm-38 {
    font-size: 38px !important;
  }

  .font-sm-40 {
    font-size: 40px !important;
  }

  .font-sm-42 {
    font-size: 42px !important;
  }

  .font-sm-44 {
    font-size: 44px !important;
  }

  .font-sm-46 {
    font-size: 46px !important;
  }

  .font-sm-48 {
    font-size: 48px !important;
  }

  .font-sm-50 {
    font-size: 50px !important;
  }

  .font-sm-52 {
    font-size: 52px !important;
  }

  .font-sm-54 {
    font-size: 54px !important;
  }

  .font-sm-56 {
    font-size: 56px !important;
  }

  .font-sm-60 {
    font-size: 60px !important;
  }

  .font-sm-70 {
    font-size: 70px !important;
  }

  .font-sm-80 {
    font-size: 80px !important;
  }

  .font-sm-90 {
    font-size: 90px !important;
  }

  .font-sm-100 {
    font-size: 100px !important;
  }
}
@media screen and (min-width: 768px) {
  .font-md-12 {
    font-size: 12px !important;
  }

  .font-md-14 {
    font-size: 14px !important;
  }

  .font-md-16 {
    font-size: 16px !important;
  }

  .font-md-18 {
    font-size: 18px !important;
  }

  .font-md-20 {
    font-size: 20px !important;
  }

  .font-md-22 {
    font-size: 22px !important;
  }

  .font-md-24 {
    font-size: 24px !important;
  }

  .font-md-26 {
    font-size: 26px !important;
  }

  .font-md-28 {
    font-size: 28px !important;
  }

  .font-md-30 {
    font-size: 30px !important;
  }

  .font-md-32 {
    font-size: 32px !important;
  }

  .font-md-34 {
    font-size: 34px !important;
  }

  .font-md-36 {
    font-size: 36px !important;
  }

  .font-md-38 {
    font-size: 38px !important;
  }

  .font-md-40 {
    font-size: 40px !important;
  }

  .font-md-42 {
    font-size: 42px !important;
  }

  .font-md-44 {
    font-size: 44px !important;
  }

  .font-md-46 {
    font-size: 46px !important;
  }

  .font-md-48 {
    font-size: 48px !important;
  }

  .font-md-50 {
    font-size: 50px !important;
  }

  .font-md-52 {
    font-size: 52px !important;
  }

  .font-md-54 {
    font-size: 54px !important;
  }

  .font-md-56 {
    font-size: 56px !important;
  }

  .font-md-60 {
    font-size: 60px !important;
  }

  .font-md-70 {
    font-size: 70px !important;
  }

  .font-md-80 {
    font-size: 80px !important;
  }

  .font-md-90 {
    font-size: 90px !important;
  }

  .font-md-100 {
    font-size: 100px !important;
  }
}
@media screen and (min-width: 960px) {
  .font-lg-12 {
    font-size: 12px !important;
  }

  .font-lg-14 {
    font-size: 14px !important;
  }

  .font-lg-16 {
    font-size: 16px !important;
  }

  .font-lg-18 {
    font-size: 18px !important;
  }

  .font-lg-20 {
    font-size: 20px !important;
  }

  .font-lg-22 {
    font-size: 22px !important;
  }

  .font-lg-24 {
    font-size: 24px !important;
  }

  .font-lg-26 {
    font-size: 26px !important;
  }

  .font-lg-28 {
    font-size: 28px !important;
  }

  .font-lg-30 {
    font-size: 30px !important;
  }

  .font-lg-32 {
    font-size: 32px !important;
  }

  .font-lg-34 {
    font-size: 34px !important;
  }

  .font-lg-36 {
    font-size: 36px !important;
  }

  .font-lg-38 {
    font-size: 38px !important;
  }

  .font-lg-40 {
    font-size: 40px !important;
  }

  .font-lg-42 {
    font-size: 42px !important;
  }

  .font-lg-44 {
    font-size: 44px !important;
  }

  .font-lg-46 {
    font-size: 46px !important;
  }

  .font-lg-48 {
    font-size: 48px !important;
  }

  .font-lg-50 {
    font-size: 50px !important;
  }

  .font-lg-52 {
    font-size: 52px !important;
  }

  .font-lg-54 {
    font-size: 54px !important;
  }

  .font-lg-56 {
    font-size: 56px !important;
  }

  .font-lg-60 {
    font-size: 60px !important;
  }

  .font-lg-70 {
    font-size: 70px !important;
  }

  .font-lg-80 {
    font-size: 80px !important;
  }

  .font-lg-90 {
    font-size: 90px !important;
  }

  .font-lg-100 {
    font-size: 100px !important;
  }
}
@media screen and (min-width: 1280px) {
  .font-xl-12 {
    font-size: 12px !important;
  }

  .font-xl-14 {
    font-size: 14px !important;
  }

  .font-xl-16 {
    font-size: 16px !important;
  }

  .font-xl-18 {
    font-size: 18px !important;
  }

  .font-xl-20 {
    font-size: 20px !important;
  }

  .font-xl-22 {
    font-size: 22px !important;
  }

  .font-xl-24 {
    font-size: 24px !important;
  }

  .font-xl-26 {
    font-size: 26px !important;
  }

  .font-xl-28 {
    font-size: 28px !important;
  }

  .font-xl-30 {
    font-size: 30px !important;
  }

  .font-xl-32 {
    font-size: 32px !important;
  }

  .font-xl-34 {
    font-size: 34px !important;
  }

  .font-xl-36 {
    font-size: 36px !important;
  }

  .font-xl-38 {
    font-size: 38px !important;
  }

  .font-xl-40 {
    font-size: 40px !important;
  }

  .font-xl-42 {
    font-size: 42px !important;
  }

  .font-xl-44 {
    font-size: 44px !important;
  }

  .font-xl-46 {
    font-size: 46px !important;
  }

  .font-xl-48 {
    font-size: 48px !important;
  }

  .font-xl-50 {
    font-size: 50px !important;
  }

  .font-xl-52 {
    font-size: 52px !important;
  }

  .font-xl-54 {
    font-size: 54px !important;
  }

  .font-xl-56 {
    font-size: 56px !important;
  }

  .font-xl-60 {
    font-size: 60px !important;
  }

  .font-xl-70 {
    font-size: 70px !important;
  }

  .font-xl-80 {
    font-size: 80px !important;
  }

  .font-xl-90 {
    font-size: 90px !important;
  }

  .font-xl-100 {
    font-size: 100px !important;
  }
}
.font-w-300 {
  font-weight: 300 !important;
}

.font-w-400 {
  font-weight: 400 !important;
}

.font-w-500 {
  font-weight: 500 !important;
}

.font-w-600 {
  font-weight: 600 !important;
}

.font-w-700 {
  font-weight: 700 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #4c6772;
}

* {
  box-sizing: border-box;
}

input,
button {
  font-family: "Roboto", sans-serif;
}

.app-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  background: linear-gradient(102.46deg, #fe756d -3.64%, #ff8f69 100%);
}

.page-container {
  max-width: 900px;
  width: 100%;
  min-height: 550px;
  margin: auto;
  background: white;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.43);
}

.location-search-input {
  width: 100%;
  text-align: center;
  border: none;
  padding-right: 55px;
  padding-left: 55px;
  border-bottom: 2px solid #4c6772;
  color: #4c6772;
  outline: 0;
  font-size: 42px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.location-search-input::placeholder {
  color: #a9a9a9;
}

.autocomplete-dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.23);
  background: white;
  cursor: pointer;
}

.suggestion-item {
  padding: 5px 10px;
}

.suggestion-item--active {
  padding: 5px 10px;
  background: rgba(76, 103, 114, 0.1);
}

.units-toggle-btn-container {
  border-radius: 25px;
  width: 100px;
  padding: 2px;
  height: 40px;
  border: 1px solid black;
}

.units-toggle-btn {
  height: 100%;
  width: 45px;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  background: white;
  position: relative;
  z-index: 4;
}

.text-colored {
  color: #e79482;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  flex: 1;
  min-width: 0;
}

/*# sourceMappingURL=index.css.map */
